/* General Styles */
*, html {
    box-sizing:border-box;
}

html, body {
    background-color: #eeede8;
    color: #656c74;
    font-family: Ledger, serif;
}

h1, h2, h3 {
    font-family: Nixie One, serif;
}

h1 {
    color: #262125;
    font-weight: bold;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 .5em;
}

.main__home-content,
.main__favorite-recipes,
.main__all-recipes,
.main__about,
.main__contact {
    padding: 2em .5em 5em;
}

/* Header Styles */
.header {
    background-color: #a47f48;
    padding: 1em;
}

.header__container, .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header__logo {
    max-width: 125px;
    border: 2px solid #262125;
    border-radius: 50%;
    overflow: hidden;
    background-color: #92DCE5;
}

.header__logo > img {
    display: block;
    width: 100%;
}

.header__nav__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.header__nav__links > li {
    margin: 0 6px;
}

.header__nav__links > li > a {
    color: #fff;
    text-decoration: none;
}

.header__nav__links > li > a:hover {
    text-decoration: underline;
}

/* Footer Styles */
.footer {
    background-color: #262125;
    padding: 1em;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #92DCE5;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    margin-bottom: .25em;
}

/* Home Page */

.main__home {
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0, 0.4)), url("../images/spaghetti2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    padding: 10em 0;
}

.main__home h1 {
    color: #fff;
    text-align: center;
    font-size: 3.5em;
}

/* Recipes Page */
.main__favorite-recipes__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.main__favorite-recipes__grid a {
    color:#262125;
    text-decoration: none;
}

.main__favorite-recipes__grid a:hover {
    text-decoration: underline;
}

.main__favorite-recipes__grid__recipe {
    text-align: center;
}

.main__favorite-recipes__grid__recipe > img {
    display:block;
    width: 100%;
}

.main__all-recipes {
    background-color: #D1CFE2;
}

.main__all-recipes h2 {
    color: #262125;
}

.main__all-recipes__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.main__all-recipes__grid__recipe {
    position: relative;
    background-color: rgba(255,255,255,0.5);
}

.main__all-recipes__grid__recipe img {
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.main__all-recipes__grid__recipe:hover .recipes-img {
    opacity: 0.5;
}

.recipe-link-wrap {
    display: block;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.recipe-link-wrap a {
    color:#262125;
    text-decoration: none;
    padding: 1em 2em;
    background-color:#a47f48;
}

.main__all-recipes__grid__recipe:hover .recipe-link-wrap {
    opacity: 1;
}

/* About Page */
.main__about__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    width: 100%;
}

.main__about__chef-img {
    display: block;
    width: 100%;
}

/* Contact Page */

.main__contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.main__contact__info {
    list-style-type: none;
    padding: 0;
}

.main__contact__form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.main__contact__form__input {
    width: 90%;
    max-width: 250px;
    margin-bottom: 10px;
}

.main__contact__form__input label {
    display: block;
    margin-bottom: 2px;
}

input[type=text],
input[type=email],
textarea {
    padding: 3px 5px;
    width: 100%;
}

.main__contact__form__subscribe-sec {
    display: grid;
    grid-template-columns: 15px 1fr;
    gap: 10px;
}

.contact-button {
    display: block;
    margin: 0 auto;
    padding: 0.7em 1.25em;
    cursor: pointer;
    background-color:#a47f48;
    color: #fff;
    transition: 0.25s ease;
    border: none;
}

.contact-button:hover, .contact-button:focus {
    background-color:#92DCE5;
    color:#262125;
}
